services:
  postgres:
    image: postgres:15
    container_name: assessment_postgres
    restart: unless-stopped

    env_file:
      - .env

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: Asia/Kolkata

    ports:
      - "${POSTGRES_PORT}:5432"

    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
